---
import ExperienceItem from "./experienceItem.astro";

const EXPERIENCIE = [
  {
    date: "Enero 2023 - Actualidad",
    title: "Freelancer",
    description:
      "Mientras trabajabo en Copymax, descubrí que una de las partes que más disfruto es el trato con el cliente. Me apasiona crear identidades, brindar soluciones rápidas y personalizadas, y ayudar a las personas a cumplir sus objetivos. Por ello, decidí dedicarme a crear paginas web de manera autonoma, para ayudar a las personas a tener una presencia en linea y cumplir sus objetivos de negocio",
    link: "",
  },
  {
    date: "Julio 2022 - Actualidad",
    title: "Gerente de Copymax",
    description:
      "En mi rol, he liderado la modernización del negocio mediante la implementación de nuevas tecnologías, desarrollo de sistemas de facturación y puntos de venta, y el diseño de la identidad visual. Además, he creado y mantenido las redes sociales  para mejorar la presencia en línea y he adquirido tecnologías innovadoras para mantener la competitividad del negocio.",
    link: "",
  },
  {
    date: "Enero 2022 - Junio 2022",
    title: "Front End Developer en Multimedios Web",
    description:
      "Desarrollo y mantenimiento de interfaces de usuario utilizando nuevas tecnogologias para mi, como React, TailwindCss, y herramientas de diseño como Figma. Colaboración en proyectos web para optimizar la experiencia del usuario y cumplir con los requisitos del cliente",
    link: "",
  },
  {
    date: "2018-2022",
    title: "Formación Académica",
    description:
      "Ingeniería en Sistemas Computacionales en el Instituto Tecnológico de Durango Mi cedula profesional es: 14289928",
    link: "",
  },
];
---

<ol class="relative border-s border-gray-200 ml-5">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
